@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {
    width: 100%;
    min-height: 100vh;
    background: #0d1222;
    padding: 0 8%;
}

.home {
    min-height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

.content {
    max-width: 500px;
}

.tag {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 999px;
    background: rgba(255, 106, 74, 0.12);
    color: #de6246;
    font-size: 14px;
    margin-bottom: 24px;
}

.content h1 {
    color: #d3e4fe;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

.content p {
    color: #dfbfba;
    font-size: 18px;
    line-height: 1.8;
}

.img {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 35px rgba(255, 106, 74, 0.15);
}

.img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}


.cardsSection {
    padding: 80px 0;
}

.info {
    margin-bottom: 40px;
}

.info h3 {
    color: #d3e4fe;
    margin-bottom: 10px;
}

.info p {
    color: #dfbfba;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cardGrande {
    flex: 2;
    background: #111b34;
    padding: 30px;
    border-radius: 20px;
    border-left: 4px solid #ff6a4a;
}

.cardGrande span {
    color: #ff6a4a;
    font-size: 14px;
}

.cardGrande h2 {
    color: white;
    margin: 20px 0;
}

.cardGrande p {
    color: #c8c8d0;
    line-height: 1.7;
}

.cardGrande button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: #24314f;
    color: white;
    cursor: pointer;
}

.cardPequeno {
    flex: 1;
    background: #111b34;
    padding: 30px;
    border-radius: 20px;
}

.cardPequeno h3 {
    color: white;
    margin-bottom: 20px;
}

.cardPequeno p {
    color: #c8c8d0;
    line-height: 1.7;
}

.cardBaixo {
    width: 260px;
    background: #111b34;
    padding: 30px;
    border-radius: 20px;
}

.cardBaixo span {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 999px;
    background: rgba(255, 106, 74, 0.12);
    color: #ff6a4a;
    font-size: 13px;
    margin-bottom: 20px;
}

.cardBaixo h3 {
    color: white;
    margin-bottom: 16px;
}

.cardBaixo p {
    color: #c8c8d0;
    line-height: 1.7;
}


@media (max-width: 900px) {

    .home {
        flex-direction: column;

        text-align: center;

        padding: 60px 0;
    }

}
