@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {
    width: 100%;
    min-height: 100vh;
    background: #0e1320;
    padding: 0 8%;
    font-family: 'Manrope', sans-serif;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

.content {
    max-width: 500px;
}

.tag {
    display: inline-flex;
    padding: 10px 18px;
    border-radius: 999px;
    background: rgba(255, 106, 74, 0.12);
    color: #de6246;
    font-size: 14px;
    margin-bottom: 24px;
}

.content h1 {
    color: #d3e4fe;
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

.content p {
    color: #dfbfba;
    font-size: 18px;
    line-height: 1.8;
}

.img {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 35px rgba(255, 106, 74, 0.15);
}

.img img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.temasSection {
    padding: 20px 0 80px;
}

.titulo {
    margin-bottom: 40px;
    text-align: center;
}

.titulo h2 {
    color: #d3e4fe;
    font-size: 42px;
    margin-bottom: 14px;
    font-family: 'Noto Serif', serif;
}

.titulo p {
    color: #dfbfba;
    max-width: 700px;
    line-height: 1.8;
    margin: 0 auto;
}

.temasGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.temaCard {
    overflow: hidden;
    border-radius: 20px;
    background: #111b34;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.temaCard:hover {
    transform: translateY(-6px);
}

.temaContent {
    padding: 24px;
}

.temaContent span {
    color: #de6246;
    font-size: 12px;
    letter-spacing: 1px;
}

.temaContent h3 {
    color: white;
    margin: 16px 0;
    font-size: 22px;
}

.temaContent p {
    color: #c8c8d0;
    line-height: 1.7;
}



.curiosidadesSection {
    padding: 20px 0 60px;
}

.tituloCentro {
    text-align: center;
    margin-bottom: 50px;
}

.tituloCentro h2 {
    color: #d3e4fe;
    font-size: 42px;
    margin-bottom: 16px;
    font-family: 'Noto Serif', serif;
}

.tituloCentro p {
    color: #dfbfba;
}

.curiosidadesGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.curiosidadeCard {
    background: #111b34;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.curiosidadeContent {
    padding: 24px;
}

.curiosidadeContent span {
    color: #de6246;
    font-size: 12px;
}

.curiosidadeContent h3 {
    color: white;
    margin: 14px 0;
    font-size: 22px;
}

.curiosidadeContent p {
    color: #c8c8d0;
    line-height: 1.7;
}
