.cardTema {
    background: #111b34;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.cardTema:hover {
    transform: translateY(-6px);
}

.conteudoTema {
    padding: 24px;
}

.categoriaTema {
    color: #7d8fb3;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 14px;
    display: block;
}

.tituloTema {
    color: white;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 18px;
    font-family: 'Noto Serif', serif;
}

.textoTema {
    color: #c8c8d0;
    line-height: 1.7;
    font-size: 15px;
    text-align: justify;
    text-indent: 2em;
}


/* teste */
