@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Manrope:wght@200..800&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-bottom: 1.4px solid rgba(240, 248, 255, 0.2);
}

.titulo {
    display: flex;
    align-items:flex-end;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-size: 20px;
}

.nav {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    font-family: "Manrope", serif;
    font-size: 14px;
}

.nav nav{
    display: flex;
    gap: 100px;
}

.anav {
    text-decoration: none;
    color:rgba(240, 248, 255, 0.726);
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.anav:hover {
    color: #EF6855;
}

.active {
    color: #EF6855;
    border-bottom: 2px solid #EF6855;
}

.atitulo {
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 0.3s;
}

.atitulo:hover {
    color:#EF6855;
}

.language {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

.language button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-size: 0.9rem;
    transition: 0.3s;
}

.ativo {
    color: #EF6855;
    font-weight: 700;
}

.desativado {
    color: aliceblue;
}

.desativado:hover {
    color: rgba(255,255,255,0.8);
}

/* NOTEBOOK */

@media (max-width: 1366px) {

    .header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .titulo {
        font-size: 20px;
    }

    .nav {
        width: 50%;
        font-size: 13px;
    }

    .nav nav {
        gap: 55px;
    }

    .language button {
        font-size: 0.8rem;
    }
}


/* TABLET */

@media (max-width: 1024px) {

    .header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .titulo {
        font-size: 20px;
    }

    .nav {
        width: 55%;
        font-size: 13px;
    }

    .nav nav {
        gap: 28px;
    }

    .language {
        gap: 0.4rem;
    }

    .language button {
        font-size: 0.75rem;
    }
}


/* CELULAR */

@media (max-width: 768px) {

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .titulo {
        font-size: 18px;
    }

    .nav {
        width: 60%;
        font-size: 13px;
    }

    .nav nav {
        gap: 15px;
    }

    .language button {
        font-size: 0.78rem;
    }
}